<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="NASA API project" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewpoint" content="width=device=width, initial-scale=1" />
    <title>Weather Map API Project</title>
    <link rel="stylesheet" href="weather.css">
    <!-- title font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
<!-- output font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <h1>Enter your city and country to get today's weather!</h1>
  
    <div id="content">
      <div class="input_box">
    <input type="text" id="city" placeholder="City" >
      <input type="text" id="country" placeholder="Country">
    <img src="" alt=""></input>
      
    <img src="" alt=""></input>
      <button class="submit">Find out the weather</button>
      <p id="output"></p>
      </div>
   <div class="content"></div>
   <p id="hi"></p>
   </div>
  </body>
  <script src="weather_map.js"></script>
</html>
